.pendencia-cards-holder {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: auto;
}

.pendencia-card {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--grey-light-light, #EEE);
  background: var(--grey-light-white, #FFF);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.pendencia-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}